<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Exercise</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="checkbox" id="menu1" value="Menu1" v-model="menus">
            <label for="menu1">Menu1</label>

            <input type="checkbox" id="menu2" value="Menu2" v-model="menus">
            <label for="menu2">Menu3</label>

            <input type="checkbox" id="menu3" value="Menu3" v-model="menus">
            <label for="menu3">Menu3</label>

            <p>Drop your menu: {{menus}}</p>
        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
				   menus: []
                }
            })
        </script>
    </body>
</html>
